@font-face {
    font-family: 'kirby';
    src: url('fontes/CrystalUniverse-Oblique.ttf') format('truetype');
}

#gif {
    position: absolute;
    top: 43px;
    height: 40px;
    width: 60px;
    right: 38%;
}

.text {
    padding-top: 35px;
    text-align: center;
}

p {
    font-size: 20px;
    padding: 10px;
}

.titulo {
    text-align: left;
    font-size: 24px;
    font-family: kirby;
    margin-top: 20px;
    text-shadow: 7px 7px 4px #e603d3af;
    ;
    color: rgb(255, 255, 255);
    text-rendering: auto;
    margin-bottom: 20px;
}

.wiki {
    margin-left: 80px;
    max-width: 57%;
    border-radius: 7px;
    box-sizing: content-box;
    margin-bottom: 20px;
}

.hab {
    display: inline-flex;
    font-size: 20px;
    padding: 10px;
}

h2 {
    text-align: left;
    font-size: 25spx;
    display: inline-flex;
    margin-top: auto;
}

td,
th {
    padding: 4px 12px 4px 12px;
    border: 1px solid rgba(0, 0, 0, 0.733);
}

thead {
    background-color: rgba(237, 94, 241, 0.719);
    border: 1px solid rgba(0, 0, 0, 0.521);
}

tbody {
    background-color: rgba(230, 131, 192, 0.836);
}

table {
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    display: inline;
    justify-content: flex-end;
    margin-right: 60px;
    clear: both;
    position: absolute;
    top: 22%;
    right: 3%;

}

.tb {
    width: 90px;
    height: 100%;
}

caption {
    background-color: rgba(139, 5, 101, 0.842);
    font-size: 25px;
}
#kirby {
    position: absolute;
    top: 100%;
    right: 4%;
}
